<p>NOUS SOMMES ICI DANS UNE AUTRE ETAPE</p>
<div>
    <app-input 
        type="text"
        placeholder="Ex: Dark souls"
        label="Jeu favori"
        [form]="this.favForm.controls.favoriteGame"
        [errors]="this.errors.favoriteGame"
        ></app-input>
</div>
<div>
    <app-input 
        type="text"
        placeholder="Ex: Soupe de navet"
        label="Plat favori"
        [form]="this.favForm.controls.favoriteMeal"
        [errors]="this.errors.favoriteMeal"
        ></app-input>
</div>
<div>
    <app-input 
        type="text"
        placeholder="Ex: Bière"
        label="Boisson favorite"
        [form]="this.favForm.controls.favoriteBeverage"
        [errors]="this.errors.favoriteBeverage"
        ></app-input>
</div>
<div>
    <app-input 
        type="text"
        placeholder="Ex: Tokyo"
        label="Lieu favori"
        [form]="this.favForm.controls.favoritePlace"
        [errors]="this.errors.favoritePlace"
        ></app-input>
</div>


<div>
    Validité du formulaire => {{this.favForm.status}}
</div>