:host{
    display: block;
    margin-top: 3rem;
    max-width: 30rem;
}

label{
    font-size: 1.3rem;
}

input{
    height: 4rem;
}

.error{
    height: 3rem;
}
.form-control:focus {
    border-color: #f8d7da;
    box-shadow: 0 0 0 0.1rem rgba(134, 77, 77, 0.1);
  }
  
  .form-control {
    border-radius: 2rem;
  }