<div class="container" [appBackgroundImage]="currenStep$ | async">
    
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div class="row d-flex justify-content-around">
        <div class="col-4">
            <app-button label="Précédant" [btnFill]=false [forceEnable]=true (click)="backwardActionOnClick()"></app-button>
        </div>
        <div class="col-4">
            <app-button label="Suivant" [btnFill]=true (click)="forwardActionOnClick()"></app-button>
        </div>
    </div>
</div>